@model Pizzaroti.Models.PizzaOrder

@{
    ViewData["Title"] = "Checkout";
    var error = ViewData["error"] as string;
}

<div class="container">
    <h1>Your Order</h1>
    @if (!string.IsNullOrEmpty(error))
    {
        <div class="alert alert-danger">@error</div>
    }

    @{
        var imagePath = @Model.ImageTitle + ".png";
    }

    <div class="align-content-center">
        <div class="col-3 mx-auto mb-5">

            <form method="post" asp-action="">
                <input type="hidden" asp-for="ImageTitle" /> 
                <img src="~/images/@imagePath" class="w-100 mb-5" asp-append-version="true" />
                <input type="hidden" asp-for="PizzaName" />
                <p>Your order for @Model.PizzaName pizza is ready</p>
                <input type="hidden" asp-for="PizzaPrice" />
                <p>Total price for your order is:NGN @Model.PizzaPrice</p>
                <br />
                <button class="btn btn-outline-primary mt-1" type="submit" asp-controller="Pizza" asp-action="Checkout">Click to make Payment</button>
            </form>
        </div>
    </div>
</div>
